<!-- Modal block starts -->
<div class="" id="RepairID"></div>
<div class="ml-12 py-12 transition duration-150 ease-in-out z-10 absolute top-0 right-0 bottom-0 left-0" id="modal">
    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
        <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
            <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">New Maintenance Record</h1>
            <label for="new-RepairPart" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Part</label>
                <input id="new-RepairPart" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"/>
            <label for="new-RepairType" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Repair Type</label>
            <div class="relative mb-5 mt-2">
                <select id="new-RepairType" class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border">
                    <option value="standard replacement">OEM Replacement</option>
                    <option value="upgraded replacement">Upgraded Replacement</option>
                    <option value="cleaned/fixed">Cleaned/Fixed</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <label for="new-RepairDate" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Date</label>
            <div class="relative mb-5 mt-2">
                <input id="new-RepairDate" class="text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="YY-MM-DD" />
            </div>
            <label for="new-RepairMiles" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Miles</label>
                <input id="new-RepairMiles" type="number" min="0" step="1" class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"/>
            <div class="flex items-center justify-start w-full">
                <button id="submit-btn" class="bg-indigo-700 rounded text-white px-8 py-2 text-sm" onclick="newItem()">Submit</button>
                <button class="ml-3 bg-gray-300 text-gray-600 rounded px-8 py-2 text-sm" onclick="modalHandler()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    let modal = document.getElementById("modal");
    function modalHandler(val) {
        if (val) {
            modalOpen(modal);
        } else {
            modalClose(modal);
        }
    }
    function modalClose(el) {
        el.style.display = "none";
        document.getElementById("submit-btn").setAttribute( "onClick", "newItem();" ); // Force the onclick attribute to its default value, newItem()
    }
    function modalOpen(el, display) {
        el.style.display = display || "flex";
    }
</script>
<!-- Modal block ends -->