* {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 100%;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #0f1630 0%, #350d29 100%);
  }
  
  .stopwatch {
    text-align: center;
    border: 1px solid fuchsia;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgb(128, 0, 128);
    position: relative;
  }
  
  .time {
    font-size: 2em;
    color: cyan;
    text-shadow: 0 0 10px rgb(0, 128, 128);
    margin-bottom: 0.5em;
  }
  .data {
    color: cyan;
    text-shadow: 0 0 10px rgb(0, 128, 128);
  }
  
  button {
    cursor: pointer !important;
    border: 1px solid cyan;
    background: 0;
    color: cyan !important;
    padding: 0.5em 1em !important;
    text-transform: uppercase !important;
    margin: 0 0.5em !important;
    transition: all 0.3s;
  }
  
  .laps {
    color: orange;
    text-shadow: 0 0 5px rgba(255, 128, 128, 1);
    margin: 2rem 0 2rem 0;
    padding: 0;
  }

  .speedometer {
    margin-inline: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
  }

  .speedometer .panel {
    transform: rotate(115deg);
    position: relative;
    width: 270px;
    height: 270px;
  }


  .speedometer .panel .linecont {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rot 0.8s linear infinite;
    transform: rotate(0deg);
  }

  .speedometer .panel .line {
    width: 31px;
    height: 7px;
    background: #fff;
    top: 48%;
    left: 80%;
    border-radius: 30px;
    border-right: solid 15px #FE6F27;
  }

  .speedometer .panel .currentspeed {
    color: #fff;
    transform: rotate(-115deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .speedometer .panel .currentspeed span.speed {
    font-size: 58px;
    margin-bottom: -5px;
  }

  .speedometer .panel .currentspeed span.metric {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .speedometer .stats {
    color: #fff;
    transform: rotate(-115deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .speedometer .stats .icons {
    position: absolute;
    bottom: 18px;
    right: -10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 3px;
  }

  .speedometer .stats .icons svg {
  position: relative;
    height: 100%; 
  width: 100%; 
  font-size: 20px;
    margin: 0 5px;
    fill: rgba(255, 255, 255, 0.5);
  }

  .speedometer .stats .cruise {
    position: absolute;
    bottom: 100px;
    right: -10px;
    font-size: 30px;
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.5px;
  }

  .speedometer .stats .cruise:hover {
    background: #1275b7;
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  #logs {
    background-size: cover;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/GNOME_Logs_--_logo_2019.svg/1200px-GNOME_Logs_--_logo_2019.svg.png");
    background-repeat: no-repeat;
  }
